@use "./variables.scss";
@import "../../core/main.scss";

$border-color: #ED207B;
$card_padding: 20px;

.AppContent {
 background-image: url("./images/background.JPG");
 background-size: cover;
 background-attachment: fixed;
}

.menu_content {
  background-color: transparent;
}

.navbarRoutes {
  font-size: 20px;
  font-weight: bold;
}

.headerContent {
  padding: 20px;
  margin-top: 20px;
}

.category_title {
  text-align: center;
  margin-top: 60px;
  margin-left: 30px;
  width: max-content;
  margin: 60px auto 0 auto;
  padding: 10px $card_padding 6px 0;
  font-size: 30px;
  font-weight: bolder;
}

.category_title::after {
  content: "";
  display: block;
  position: relative;
  left: -20px;
  width: 100%;
  height: 3px;
  background-color: #FFFF;
  margin-top: 5px;
}

.category_title::before {
  content: "";
  display: block;
  position: relative;
  bottom: -70px;
  left: -50px;
  width: 80%;
  height: 3px;
  background-color: #FFFF;
  margin-top: 5px;
}

.foodNameAndDescriptionAndPriceContent {
  align-items: center;
  width: 100%;
  min-height: 40px;
}

.navContainer {
  box-shadow: none;
  margin: 10px 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  padding: 0rem 1rem 0rem 1rem;
  background-color: transparent;
  color: #FFFF;
  background-image: url("./images/background.JPG");
  background-size: cover;
  background-attachment: fixed;

  .navContainerBorder {
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
  }
}

.additives {
  margin: 30px;
  padding: 20px 0;
  border-radius: 5px;
  background-color: #ed207c5d;
  h3 {
    margin: 0;
    color: #FFFF;
  }
}

.heroImage {
  width: 100%;
  height: 160px;
  background: url("./images/crepeForMobile.png") no-repeat center / contain;
}

.headerSocialMedia a {
 color: #ED207B;
}

.footerSocialMedia a {
  color: #ED207B;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-radius: 50%;
  color: #ED207B;
}

.description {
  margin-bottom: 0.5em; 
}

.footer {
  border-top-color: #ED207B;
}


@media (min-width: variables.$breakpoint_md) {
  .App {
    background-position: center;
    background-attachment: fixed;
  }
  .logoContent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heroImage {
    width: 100%;
    height: 50vh; 
    padding-top: 0;
    background: url("./images/crepeForDesktop.png") no-repeat center / contain;
  }
  .logoName span {
    text-align: center;
  }
}
