@forward "../../core/variables.scss" with (

  $fontTitle: (
    'Pacifico', cursive,
  ),
  $fontBody: (
    'Abel', sans-serif,
  ),
  $header_logo_font: (
    'Pacifico', cursive,
  ),
  $header_logo_suffix_font: (
    'Abel', sans-serif,
  ),

  $fontColorTitle: #ED207B,
  $fontColorBody: #FFFF,
  $backgroundColor: unset,
  $body_backgroundColor: unset,
  $category_title_fontSize: 26px,
  $item_description_color: #FFFF,
  $socialMediaHover: #FFFF,
  $socialMediaActive: #ED207B,
  $header_logo_name_maxWidth: 300px,

  // menu_content
  $menu_content_border_right: 2px solid #ED207B,
  $menu_content_border_left: 2px solid #ED207B,

  //card 
  $card_borderRadius : 0,
  $card_backgroundColor: transparent,
  $card_padding: 0,
  $card_margin: 20px 2rm 0 2rm,
  $card_borderBottom: 2px solid #FFFF,
  // arrowButton
  $arrowBTN_backgroundColor: transparent,
  $arrowBTN_fontColor: #ED207B,
);

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
