@use "./variables.scss";
@import "../../core/main.scss";

$border-color: #4d301a;
$card_padding: 20px;

.logoName {
  border: 3px solid #f9ecd4;
  box-shadow: (4px 6px 0 0 transparentize(#c36558, 0.4) inset, 4px 6px 0 0 transparentize(#4d301a, 0.6) ),
}

.headerContent {
  padding: 20px;
  margin-top: 20px;

  .logoContent {
    margin: 0px;
  }
}

.category_title {
  text-align: left;
  margin-top: 60px;
  margin-left: 30px;
  width: max-content;
  padding: 10px $card_padding 6px 0;
  font-size: 50px;
  font-weight: bolder;
}

.arrowBTN {
  background-color: transparent;
}

.card{ 
  min-height: 80px;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 3px 0px rgb(121 124 126 / 50%);
  box-shadow: 10px 10px 3px 0px rgb(121 124 126 / 50%);
}

.card:nth-child(4n+1) {
  background-color: #F9ECD4;
  color:#5F321F;
  .description {
    color: #5F321F;
  }
}
.card:nth-child(4n+2) {
  background-color: #5F321F;
  color: #F9ECD4;
  .description {
    color: #F9ECD4;
  }
}
.card:nth-child(4n+3) {
  background-color: #F6C3BE;
  color:#5F321F;
  .description {
    color: #5F321F;
  }
}
.card:nth-child(4n+4) {
  background-color: #C36558;
  color: #F9ECD4;
  .description {
    color: #F9ECD4;
  }
}


.headerSocialMedia a:first-child{
  color: #F9ECD4;
}

.headerSocialMedia a:nth-child(2){
  color: #5F321F;
}

.headerSocialMedia a:nth-child(3){
  color: #F6C3BE;
}

.headerSocialMedia a:nth-child(4){
  color: #DAB16C;
}
.headerSocialMedia a:nth-child(5){
  color: #C36558;
}

.additives { 
  background-color: #F6C3BE;
}

.navContainer {
  box-shadow: none;
  margin: 10px 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  padding: 0rem 1rem 0rem 1rem;
  background-color: #B8CBCC;

  .navContainerBorder {
    border-top: 2px solid #5F321F;
    border-bottom: 2px solid #5F321F;
  }
}

.additives {
  margin: 0 30px 30px 30px;
  padding: 20px 0;
  border-radius: 5px;
  h3 {
    margin: 0;
  }
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-radius: 50%;
}

.footer {
  border-top-color: #5F321F;
}


@media (min-width: variables.$breakpoint_md) {
  .logoContent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logoName span {
    text-align: center;
  }
}
