@forward "../../core/variables.scss" with (

  $fontTitle: (
    'Zeyada', cursive,
  ),
  $fontBody: (
     'Oswald', sans-serif,
  ),
  $header_logo_font: (
    "Zeyada",
    cursive,
  ),
  $header_logo_suffix_font: (
    "Oswald",
    sans-serif,
  ),
  $app_backgroundColor: #B8CBCC,

  $fontColorTitle: #4d301a,
  $fontColorBody: #4d301a,
  $category_title_fontSize: 26px,
  $item_description_color: #4d301a,
  $socialMediaHover: #c09744,
  $socialMediaActive: #4d301a,
  $logo-name_maxWidth: 300px,

  $navigation_link_fontSize: 20px,
  $navigation_link_fontWeight: bold,

  $logo-name_borderRadius: 10px,
  $logo-name_margin: 20px,
  $logo-name_padding: 15px 10px 5px,
);

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
