@use "./variables.scss";
@import "../../core/main.scss";

$border-color: #C27F40;
$card_padding: 20px;

.AppContent {
 background-color: #221316;
}

.navbarRoutes {
  font-size: 20px;
  font-weight: bold;
}

.headerContent {
  padding: 20px;
  margin-top: 20px;
}

.category_title {
  text-transform: none;
}

.foodNameAndDescriptionAndPriceContent {
  align-items: center;
  width: 100%;
  min-height: 40px;
}

.navContainer {
  background-color: #221316;
  color: #F2DFAB;
}

.foodNameAndDescriptionContent
  .foodName {
    font-size: 20px;
    font-weight: bold;
  }

  .description {
    font-size: 14px;
    font-weight: 300;
  }

  .price {
    font-size: 20px;
    font-weight: bold;
  }


.additives {
  margin: 30px;
  padding: 20px 0;

  h3 {
    margin: 0;
    color: #FFFF;
  }
}

.headerSocialMedia a {
  color: $border-color;
}

.footerSocialMedia a {
  color: $border-color;
}

.description {
  margin-bottom: 0.5em;
}

.footer {
  border-top-color: $border-color;
}

.logoName span {
  letter-spacing: 10px;
  text-shadow: 3px 3px #cd2f2e, -3px -3px #cd2f2e, 3px -3px #cd2f2e, -3px 3px #cd2f2e;
}



@media (min-width: variables.$breakpoint_md) {
  .App {
    background-position: center;
    background-attachment: fixed;
  }

  .logoContent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logoName span {
    text-align: center;
  }
}