@use "./variables.scss";
@import "./fonts.scss";
@import "../../core/main.scss";

// Used to write css overwrites.
// Please try variables first.
$secondary_container_background: url("./images/oldPaper.jpg") no-repeat center / cover;

.AppContent {
  background-image: url("./images/woodBackground-3.JPG");
  background-size: cover;
  background-attachment: fixed;
}

.navContainer {
  box-shadow: 0 0 5px 3px #0000004f;
}

.navContainer, .footer, .additives {
  background: $secondary_container_background; 
}

.header > * {
  flex-direction: column-reverse ;
  background-image: url("./images/darkGreen.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
}  

.category { 
  background-image: url("./images/oldPaperBackground.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 30px 0 10px;
  margin: 50px 20px 0 20px;
}

.category_items {
  color: variables.$fontColorBody;
  max-width: 90%;
  margin: auto;
}

.imgcontent {
  padding-top: 2rem;
}

.description {
  color:  variables.$descriptionColor;
}


.imgcontent { 
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.heroImage {
  background: url("./images/greenBeer-3.png") no-repeat center / contain;
}

@media (min-width: variables.$breakpoint_md) {
  .header > * {
    border-left: 2px solid #ffffffbd; 
    border-right: 2px solid #ffffffbd;
    flex-direction: column ; 
  }

  .headerContent {
    height: 20vh;
  } 

  .logoContent{ 
    div{ 
     font-size: 13px;
    }
  }

  .logoName span { 
    font-size: 32px;
  } 

  .imgcontent {
    width: 100%;
    height: 80vh; 
    padding-top: 0;
  }

  .heroImage {
    z-index: 2;
    height: 90%;
    width: 100%;
  }
  .category {
    padding: 30px 40px 10px;
  }
}


@media (min-width: 860px) {    

  .logoContent{ 
    div{ 
     font-size: 13px;
    }
  }

  .logoName span { 
    font-size: 38px;
  }
}