@forward "../../core/variables.scss" with (
    $fontBody: ('Raleway', sans-serif), 
    $fontTitle: ('Alta', sans-serif),
    $fontColorTitle:#fff,
    $fontColorBody: #7f602b,
    $backgroundColor: #FFFFFF,

    $header_color: #fff,

    $category_title_color: #433317,
    
);
