@mixin doubleUnderline($color) {
    &::after, &::before {
        content: "";
        display: block;
        position: relative;
        width: 100%;
        height: 3px;
        background-color: $color;
    }
      
    &::after {
    left: 13px;
    }
    
    &::before {
    bottom: -65px;
    left: -30px;
    width: 90%;
    }
}