@forward "../../core/variables.scss" with (
  $fontTitle: (
    "Merienda",
    cursive,
  ),
  $fontBody: (
    "Abel",
    sans-serif,
  ),
  $header_logo_font: (
    "Stylish",
    sans-serif,
  ),
  $header_logo_suffix_font: (
    "Abel",
    sans-serif,
  ),
  $fontColorTitle: #619906,
  $fontColorBody: #ffff,

  $app_background: #1a271f,
  $app_backgroundColor: #1a271f,
  $category_title_fontSize: 26px,
  $socialMediaHover: #619906,
  $socialMediaActive: #ffff,

  //! header
  $header_logo_name_maxWidth: 300px,

  //! header .logoname span
  $header_logo_name_background_color: #ffff,
  $logo-name_padding: 50px,
  $logo-name_borderRadius: 10px,

  //! card
  $card_borderRadius: 10px,
  $card_backgroundColor: #1a271f,
  $card_padding: 20px,

  //! item
  $item_fontColor: #ffff,

  //! item title (.foodName)
  // $item_title_fontSize;
  // $item_title_fontWeight;
  //! item description (.description)
  // $item_description_color:
  // $item_description_fontSize:
  // $item_description_margin:
  //! item price (.price)
  // $item_title_fontSize:
  $item_title_fontWeight: bold,
  // $item_price_fontColor:
  //! arrowButton
  $arrowBTN_backgroundColor: transparent,
  $arrowBTN_fontColor: #1a271f
);

@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");
