@forward "../../core/variables.scss" with (
    $fontTitle: ('Marcellus SC', sans-serif),
    $fontBody: ('Raleway', sans-serif),
    $header_logo_font: ('Caesar Dressing', sans-serif),

    $fontColorTitle: #3a2ba0,
    $fontColorBody: #333,
    $backgroundColor: #fff,
    $body_backgroundColor: #fff,

    $header_hero_image: url("./images/greek-seaside.jpg") no-repeat center bottom / cover,

    $category_title_fontSize: 26px,
    $item_description_color: #616161,
);

@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');
