@forward "../../core/variables.scss" with (

  $fontTitle: (
    'Luckiest Guy', cursive,
  ),
  $fontBody: (
    'Abel', sans-serif,
  ),
  $header_logo_font: (
    'Luckiest Guy', cursive,
  ),
  $header_logo_suffix_font: (
    'Abel', sans-serif,
  ),

  $fontColorTitle: #F2DFAB,
  $fontColorBody: #F2DFAB,
  $backgroundColor: unset,
  $body_backgroundColor: unset,
  $category_title_fontSize: 26px,
  $item_description_color: #F2DFAB,
  $socialMediaHover: #CD2F2E,
  $socialMediaActive: #FFFF,
  $header_logo_name_maxWidth: 300px,
  // Content
  $content_backgroundColor: transparent,

  // Header
  $header_borderLeft: 2px solid #C27F40,
  
  //card 
  $card_borderRadius : 0,
  $card_backgroundColor: transparent,
  $card_padding: 0,
  $card_margin: 10px 1em 0 1em,
  $card_borderBottom: 2px solid #CD2F2E,
  // arrowButton
  $arrowBTN_backgroundColor: transparent,
  $arrowBTN_fontColor: #C27F40,
);

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
