@forward "../../core/variables.scss" with (
  $fontTitle: (
    "Vampiro One",
    cursive,
  ),
  $fontBody: (
    "Truculenta",
    sans-serif,
  ),
  $header_logo_font: (
    "Vampiro One",
    cursive,
  ),
  $header_logo_suffix_font: (
    "Truculenta",
    sans-serif,
  ),
  $fontColorTitle: #ffffff,
  $fontColorBody: #ffffff,
  $app_backgroundColor: #252525,
  
  $category_title_fontSize: 26px,
  $item_description_color: #ccc
);

@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100;12..72,200;12..72,300;12..72,400;12..72,500;12..72,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap");
