@use '../variables.scss';

.additives {
    background: variables.$additives_background;
    
    h3 {
        font-size: variables.$additives_title_fontSize;
        font-family: variables.$fontTitle;
        color: variables.$fontColorTitle;
        margin: variables.$additives_title_margin;
    }
}