@use '../variables.scss';

.card {
  margin: variables.$card_margin;
  border-radius: variables.$card_borderRadius ; 
  background-color:variables.$card_backgroundColor;
  padding: variables.$card_padding;
  border-bottom: variables.$card_borderBottom;
  box-shadow: variables.$card_shadow;
}


