@use '../variables.scss';

.category { 
  background: variables.$category_background;
  padding: 30px 0 10px;
  margin: 50px 20px 0 20px;
}

.category_title {
  font-family: variables.$category_title_fontFamily;
  font-size: variables.$category_title_fontSize;
  color: variables.$category_title_color;
  margin: variables.$category_title_margin;
}
