@use '../variables.scss';

.category_item {
  color: variables.$item_fontColor;

}

.foodName {
  color: variables.$item_title_fontColor;
  font-size: variables.$item_title_fontSize;
  font-weight: variables.$item_title_fontWeight;
}

.description {
  color: variables.$item_description_color;
  font-size: variables.$item_description_fontSize;
  margin: variables.$item_description_margin;
}

.price {
  font-size: variables.$item_title_fontSize;
  font-weight: variables.$item_title_fontWeight;
  color: variables.$item_price_fontColor
}
